<!DOCTYPE html>
<html>
<head>
  <title>Suggest MCQ</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pagestyle.css') }}">
</head>
<body>
  <div id="content">
    <header>
      <img src="{{url_for('static', filename='PsyHeal.png')}}" alt="Banner"/>
    </header>

    <nav>
      <ul>
        {% if username %}
        <li class="button one">Hello! <strong>{{ username }}</strong></li>
        {% else %}
        <li><a href="{{ url_for('login') }}"><div class="button one"><span>Login</span><div></a></li>
        {% endif %}
        <li><a href="{{ url_for('index') }}"><div class="button one"><span>Home</span><div></a></li>
        <li><a href="{{ url_for('help') }}"><div class="button one"><span>Help</span><div></a></li>
        {% if accType == 'admin' %}
        <li><a href="{{ url_for('editconstants') }}"><div class="button one"><span>Edit thresholds</span><div></a></li>
        <li><a href="{{ url_for('newuser') }}"><div class="button one"><span>Add new user</span><div></a></li>
        <li><a href="{{ url_for('removeuser') }}"><div class="button one"><span>Delete user</span><div></a></li>
        <li><a href="{{ url_for('showaccdata') }}"><div class="button one"><span>Show all account details</span><div></a></li>
        {% endif %}
        {% if accType == 'patient' %}
        <li><a href="{{ url_for('newentry') }}"><div class="button one"><span>Add new entry</span><div></a></li>
        <li><a href="{{ url_for('newuploadpic') }}"><div class="button one"><span>Upload Photo</span><div></a></li>
        {% endif %}
        {% if accType == 'doctor' %}
        <li><a href="{{ url_for('notification') }}"><div class="button one"><span>Notifications</span><div></a></li>
        <li><a href="{{ url_for('approvemcq') }}"><div class="button one"><span>Approve MCQs</span><div></a></li>
        {% endif %}
        {% if username %}
        <li><a href="{{ url_for('logout') }}"><div class="button one"><span>Logout</span><div></a></li>
        {% endif %}
      </ul>
    </nav>

    <article>
      <form action="{{ url_for('approvemcq') }}" method="POST">
        <table>
          <tr>
            <th align="center" colspan="3">
            Suggested MCQs
            </th>
          </tr>
          <tr>
            <th>No.</th>
            <th>MCQ</th>
            <th>Select</th>
          </tr>
          {% for i in range(qSize) %}
          <tr>
            <td>{{ i+1 }}</td>
            <td>{{ qList[i] }}</td>
            <td><input type="radio" name="index" value={{i+1}} checked></td>
          </tr>
          {% endfor %}
        </table>
        <table>
          <tr>
            <th>
              <input class="button second" type="submit" name="submit" value="Approve">
            </th>
            <th>
              <input class="button second" type="submit" name="submit" value="Reject">
            </th>
          </tr>
        </table>
      </form>
      {% if error %}
      <p>
        <div class="alert"><strong>Error! </strong>{{ error }}</div>
      </p>
      {% endif %}
      {% if msg %}
      <p>
        <div class="alert success"><strong>Success! </strong>{{ msg }}</div>
      </p>
      {% endif %}
    </article>
  </div>
  <footer id="footer">Developed by <a href="https://github.com/Necrote" style="color: #A2E86E">Vivek</a>, Piyush, Chaitanya</footer>
</body>
</html>