<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pagestyle.css') }}">
</head>
<body>
  <div id="content">
    <header>
      <img src="{{url_for('static', filename='PsyHeal.png')}}" alt="Banner"/>
    </header>

    <nav>
      <ul>
        {% if username %}
        <li class="button one">Hello! <strong>{{ username }}</strong></li>
        {% else %}
        <li><a href="{{ url_for('login') }}"><div class="button one"><span>Login</span><div></a></li>
        {% endif %}
        <li><a href="{{ url_for('index') }}"><div class="button one"><span>Home</span><div></a></li>
        {% if accType == 'admin' %}
        <li><a href="{{ url_for('newuser') }}"><div class="button one"><span>Add new user</span><div></a></li>
        <li><a href="{{ url_for('removeuser') }}"><div class="button one"><span>Delete user</span><div></a></li>
        <li><a href="{{ url_for('showaccdata') }}"><div class="button one"><span>Show all account details</span><div></a></li>
        {% endif %}
        {% if accType == 'patient' %}
        <li><a href="{{ url_for('newentry') }}"><div class="button one"><span>Add new entry</span><div></a></li>
        {% endif %}
        {% if username %}
        <li><a href="{{ url_for('logout') }}"><div class="button one"><span>Logout</span><div></a></li>
        {% endif %}
      </ul>
    </nav>

    <article>
      <strong>***TO-DO***</strong>
    </article>
  </div>
  <footer id="footer">Developed by <a href="https://github.com/Necrote" style="color: #A2E86E">Vivek</a>, Piyush, Chaitanya</footer>
</body>
</html>